.title {
    color: blue;           
    font-size: 32px;       
    text-align: center;    
}

.text {
    color: gray;          
    font-family: Arial;    
    line-height: 1.5;      
}

.btn {
    background: red;       
    color: white;          
    padding: 10px 20px;    
    border-radius: 5px;    
    border: none;
}