.text {
    font-family: "Arial", sans-serif; 
    font-size: 16px;                  
    font-weight: bold;                
    text-align: center;               
    text-decoration: underline;      
}